basePath: /
definitions:
  auth.loginReq:
    properties:
      password:
        description: 密码
        example: "123456"
        type: string
      username:
        description: 用户名
        example: admin
        type: string
    required:
    - password
    - username
    type: object
  auth.loginRes:
    properties:
      access_token:
        description: '访问令牌: 15分钟过期'
        type: string
      expires_at:
        description: 过期时间：访问令牌 Access_token 过期时间(秒)
        type: integer
      uid:
        description: 用户UID
        type: string
    type: object
  auth.registerReq:
    properties:
      password:
        description: 密码
        example: "123456"
        type: string
      username:
        description: 用户名
        example: admin
        type: string
    required:
    - password
    - username
    type: object
  http.Empty:
    type: object
  http.HttpResponse-Empty:
    properties:
      code:
        description: 'code: HTTP 状态码'
        example: 200
        type: integer
      data:
        allOf:
        - $ref: '#/definitions/http.Empty'
        description: 'data: 响应数据（可以为空）'
      message:
        description: 'message: 响应描述'
        example: 操作成功
        type: string
    type: object
  http.HttpResponse-auth_loginRes:
    properties:
      code:
        description: 'code: HTTP 状态码'
        example: 200
        type: integer
      data:
        allOf:
        - $ref: '#/definitions/auth.loginRes'
        description: 'data: 响应数据（可以为空）'
      message:
        description: 'message: 响应描述'
        example: 操作成功
        type: string
    type: object
  http.HttpResponse-http_PageRes-user_listRes:
    properties:
      code:
        description: 'code: HTTP 状态码'
        example: 200
        type: integer
      data:
        allOf:
        - $ref: '#/definitions/http.PageRes-user_listRes'
        description: 'data: 响应数据（可以为空）'
      message:
        description: 'message: 响应描述'
        example: 操作成功
        type: string
    type: object
  http.PageRes-user_listRes:
    properties:
      list:
        description: 列表
        items:
          $ref: '#/definitions/user.listRes'
        type: array
      page:
        description: 当前页码
        example: 1
        type: integer
      size:
        description: 分页大小
        example: 10
        type: integer
      total:
        description: 总数
        example: 50
        type: integer
    type: object
  user.listRes:
    properties:
      created_at:
        description: '* 创建时间 (JSON会自动格式化为 RFC3339 字符串)'
        type: string
      email:
        description: '* 邮箱'
        type: string
      id:
        description: '* ID (对应数据库的 UID) - 前端通常习惯叫 id'
        type: string
      is_active:
        description: '* 账号状态'
        type: boolean
      role:
        description: '* 角色标识'
        type: string
      updated_at:
        description: '* 更新时间'
        type: string
      username:
        description: '* 登录用户名'
        type: string
    type: object
host: localhost:8081
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: Mall API 服务接口文档
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Mall API
  version: "1.0"
paths:
  /admin/auth/login:
    post:
      consumes:
      - application/json
      description: 用户名/密码登录
      operationId: login
      parameters:
      - description: 登录参数
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/auth.loginReq'
      produces:
      - application/json
      responses:
        "200":
          description: 登录成功
          schema:
            $ref: '#/definitions/http.HttpResponse-auth_loginRes'
      summary: 用户登录
      tags:
      - Auth
  /admin/auth/register:
    post:
      consumes:
      - application/json
      description: 用户名/密码进行注册
      operationId: register
      parameters:
      - description: 注册参数
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/auth.registerReq'
      produces:
      - application/json
      responses:
        "200":
          description: 注册成功
          schema:
            $ref: '#/definitions/http.HttpResponse-Empty'
      summary: 用户注册
      tags:
      - Auth
  /admin/auth/session/logout:
    post:
      consumes:
      - application/json
      description: 用户注销,同时移除刷新令牌
      operationId: logout
      parameters:
      - description: '格式: refresh_token=xxx'
        in: header
        name: Cookie
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: 注销成功
          schema:
            $ref: '#/definitions/http.HttpResponse-Empty'
      security:
      - BearerAuth: []
      summary: 用户注销
      tags:
      - Auth
  /admin/auth/session/refresh:
    post:
      consumes:
      - application/json
      description: 用于短期令牌 Access_Token 续期
      operationId: refreshToken
      parameters:
      - description: '格式: refresh_token=xxx'
        in: header
        name: Cookie
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: 刷新成功
          schema:
            $ref: '#/definitions/http.HttpResponse-auth_loginRes'
      security:
      - CookieAuth: []
      summary: 刷新令牌
      tags:
      - Auth
  /admin/user:
    get:
      consumes:
      - application/json
      description: 支持分页以及条件查询
      operationId: listUser
      parameters:
      - description: 关键字：多字段综合搜索， email/username/uid
        in: query
        name: keyword
        type: string
      - description: 当前页码，默认 1
        example: 1
        in: query
        minimum: 1
        name: page
        type: integer
      - description: 角色：枚举
        in: query
        name: role
        type: string
      - description: 每页数量，默认 10，最大 100
        example: 10
        in: query
        maximum: 100
        minimum: 1
        name: size
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: 查询成功
          schema:
            $ref: '#/definitions/http.HttpResponse-http_PageRes-user_listRes'
      security:
      - BearerAuth: []
      summary: 获取用户列表
      tags:
      - User
securityDefinitions:
  BearerAuth:
    description: '输入格式: Bearer <token>'
    in: header
    name: Authorization
    type: apiKey
  CookieAuth:
    description: 浏览器自动处理。手动调试请填写：refresh_token=xxxx
    in: header
    name: Cookie
    type: apiKey
swagger: "2.0"
