basePath: /
definitions:
  auth.loginReq:
    properties:
      password:
        description: 密码
        example: "123456"
        type: string
      username:
        description: 用户名
        example: admin
        type: string
    required:
    - password
    - username
    type: object
  auth.loginRes:
    properties:
      access_token:
        description: '访问令牌: 15分钟过期'
        type: string
      expires_at:
        description: 过期时间：访问令牌 Access_token 过期时间(秒)
        type: integer
      refresh_token:
        description: 刷新令牌：7天过期
        type: string
      uid:
        description: 用户UID
        type: string
    type: object
  auth.logoutReq:
    properties:
      refresh_token:
        description: 刷新令牌
        type: string
    required:
    - refresh_token
    type: object
  auth.refreshReq:
    properties:
      refresh_token:
        description: 刷新令牌
        type: string
    required:
    - refresh_token
    type: object
  auth.registerReq:
    properties:
      password:
        description: 密码
        example: "123456"
        type: string
      username:
        description: 用户名
        example: admin
        type: string
    required:
    - password
    - username
    type: object
  http.Empty:
    type: object
  http.HttpResponse-Empty:
    properties:
      code:
        description: 'code: HTTP 状态码'
        example: 200
        type: integer
      data:
        allOf:
        - $ref: '#/definitions/http.Empty'
        description: 'data: 响应数据（可以为空）'
      message:
        description: 'message: 响应描述'
        example: 操作成功
        type: string
    type: object
  http.HttpResponse-auth_loginRes:
    properties:
      code:
        description: 'code: HTTP 状态码'
        example: 200
        type: integer
      data:
        allOf:
        - $ref: '#/definitions/auth.loginRes'
        description: 'data: 响应数据（可以为空）'
      message:
        description: 'message: 响应描述'
        example: 操作成功
        type: string
    type: object
host: localhost:8081
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: Mall API 服务接口文档
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Mall API
  version: "1.0"
paths:
  /admin/auth/login:
    post:
      consumes:
      - application/json
      description: 用户名/密码登录
      operationId: login
      parameters:
      - description: 登录参数
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/auth.loginReq'
      produces:
      - application/json
      responses:
        "200":
          description: 登录成功
          schema:
            $ref: '#/definitions/http.HttpResponse-auth_loginRes'
      summary: 用户登录
      tags:
      - Auth
  /admin/auth/logout:
    post:
      consumes:
      - application/json
      description: 用户注销,同时移除刷新令牌
      operationId: logout
      parameters:
      - description: 注销参数
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/auth.logoutReq'
      produces:
      - application/json
      responses:
        "200":
          description: 注销成功
          schema:
            $ref: '#/definitions/http.HttpResponse-Empty'
      summary: 用户注销
      tags:
      - Auth
  /admin/auth/refresh:
    post:
      consumes:
      - application/json
      description: 用于短期令牌 Access_Token 续期
      operationId: refreshToken
      parameters:
      - description: 刷新令牌请求参数
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/auth.refreshReq'
      produces:
      - application/json
      responses:
        "200":
          description: 刷新成功
          schema:
            $ref: '#/definitions/http.HttpResponse-auth_loginRes'
      summary: 刷新令牌
      tags:
      - Auth
  /admin/auth/register:
    post:
      consumes:
      - application/json
      description: 用户名/密码进行注册
      operationId: register
      parameters:
      - description: 注册参数
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/auth.registerReq'
      produces:
      - application/json
      responses:
        "200":
          description: 注册成功
          schema:
            $ref: '#/definitions/http.HttpResponse-Empty'
      summary: 用户注册
      tags:
      - Auth
securityDefinitions:
  BearerAuth:
    description: Type "Bearer" followed by a space and JWT token.
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
