.tab-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #ccc;
  display: flex;
  padding-bottom: env(safe-area-inset-bottom);
  border-top: 1px solid #f0f0f0;
  z-index: 9999;
}

.tab-bar-item {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tab-bar-icon {
  width: 24px;
  height: 24px;
}

.tab-bar-text {
  font-size: 10px;
  color: #000000;
}

.tab-bar-text-selected {
  color: #DC143C;
}
